<h1><strong>Diagnosis</strong></h1><br>
<div id="diagnosis-form" *ngIf="diagnosisForm">
  <!--<div>{{ diagnosisForm.value | json }}</div>-->
  <form [formGroup]="diagnosisForm" (ngSubmit)="saveForm()" class="form-group">
    <!-- chief-complaints-->
    <div id="chief-complaints">
      <table class="table" formArrayName="chiefComplaints">
        <thead>
          <tr>
            <th>#</th>
            <th>Chief Complaints</th>
            <th>duration</th>
            <th *ngIf="chiefComplaints.length > 1">delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chiefComplaint of chiefComplaints.controls;let i=index;" [formGroupName]="i">
            <td>{{ i + 1 }}</td>
            <td>
              <input type="text" formControlName="complaint" placeholder="complaint" class="form-control">
            </td>
            <td>
              <input type="text" formControlName="duration" placeholder="duration" class="form-control">
            </td>
            <td *ngIf="chiefComplaints.length > 1">
              <a href="javascript:void();" (click)="removeChiefComplaint(i)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right"><a href="javascript:void();" (click)="addChiefComplaint()">+ add complaint</a></div>
    </div>
    <!--examination-->
    <div id="examination">
      <table class="table borderless">
        <tbody>
          <tr>
            <th>Examination</th>
            <td>
              <input type="radio" formControlName="examination" value="concious" checked>
              <label for="examination">&nbsp;concious</label>
            </td>
            <td>
              <input type="radio" formControlName="examination" value="oriented">
              <label for="examination">&nbsp;oriented</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--vitals-->
    <div id="vitals" formGroupName="vitals" class="form-group">
      <table class="table borderless">
        <tbody>
          <tr>
            <th>Vitals</th>
          </tr>
          <tr>
            <td>
              <div class="input-group">
                <input type="text" formControlName="pr" class="form-control" placeholder="PR">
                <div class="input-group-addon">bpm</div>
              </div>
            </td>
            <td>
              <div class="input-group">
                <input type="text" formControlName="bp" class="form-control" placeholder="BP">
                <div class="input-group-addon">mmHg</div>
              </div>
            </td>
            <td>
              <div class="input-group">
                <input type="text" formControlName="temp" class="form-control" placeholder="Temp">
                <div class="input-group-addon">° F</div>
              </div>
            </td>
            <td>
              <div class="input-group">
                <input type="text" formControlName="temp" class="form-control" placeholder="Temp">
                <div class="input-group-addon">° F</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--systemic-examintion-->
    <div id="systemic-examination" formGroupName="systemicExamination" class="form-group">
      <table class="table borderless">
        <tbody>
          <tr>
            <th>Systemic Examination</th>
          </tr>
          <tr>
            <td><input type="text" formControlName="cvs" class="form-control" placeholder="CVS"></td>
            <td><input type="text" formControlName="cns" class="form-control" placeholder="CNS"></td>
            <td><input type="text" formControlName="rs" class="form-control" placeholder="RS"></td>
            <td><input type="text" formControlName="pa" class="form-control" placeholder="PA"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--row finalDiagnosis & followUpDate-->
    <div>
      <table class="table borderless">
        <tbody>
          <tr>
            <th>Final Diagnosis</th>
            <td><input type="text" formControlName="finalDiagnosis" placeholder="diagnosed" class="form-control"></td>
          </tr>
          <tr>
            <th>Next Sitting Date</th>
            <td><input type="date" formControlName="followUpDate" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--L/E-->
    <div id="le">
      <table class="table borderless">
        <tbody>
          <tr>
            <th>L/E</th>
          </tr>
          <tr>
            <td>
              <textarea formControlName="le" class="form-control" rows="3"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div><br>
    <!--form actions-->
    <div class="container">
      <button type="button" (click)="diagnosisForm.reset()" class="btn btn-default">clear</button>
      <button type="submit" [disabled]="diagnosisForm.pristine" class="btn btn-default">save</button>
    </div>
  </form>
</div>
