<h5><strong>Personal</strong></h5><hr>
<div *ngIf="!info">loading...</div>
<div *ngIf="info">
  <table class="table borderless">
    <tbody>
      <tr>
        <th scope="row">name</th>
        <td>{{ info.name }}</td>
      </tr>
      <tr>
        <th scope="row">age</th>
        <td>{{ info.dob | agify }}</td>
      </tr>
      <tr>
        <th scope="row">sex</th>
        <td>{{ info.gender | genderify }}</td>
      </tr>
      <tr>
        <th scope="row">location</th>
        <td>{{ info.location }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--presenting illness-->
<h5><strong>Presenting Illness</strong></h5><hr>
<div *ngIf="presentingIllness">
  <p>The final diagnosis marked as presenting illness by the doctor.click to see healthlogs.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Diagnosis</th>
        <th>Medications</th>
        <th><th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ presentingIllness.finalDiagnosis }}</td>
        <td>{{ presentingIllness.medications | json }}</td>
        <td><a href="[{ outlets: { 'patient' : ['health-logs'] } }]">> see log</a></td>
      </tr>
    </tbody>
  </table>
</div>
