    <div>
      <h5><strong>Personal</strong></h5>
      <table class="table borderless" *ngIf="patient">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td>{{ patient.name }}</td>
          </tr>
          <tr>
            <th scope="row">age</th>
            <td>{{ patient.dob | agify }}</td>
          </tr>
          <tr>
            <th scope="row">sex</th>
            <td>{{ patient.gender | genderify }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="presenting-illness">
      <h5><strong>Presenting Illness</strong></h5>
      <!--code...-->
    </div>
