<div *ngIf="patient" id="patient-container">
  <!-- name -->
  <div id="patient-name">
    <strong>{{ patient.name }}</strong>
  </div>
  <!-- age -->
  <div id="patient-age">
    <strong>age</strong>: {{ patient.dob | agify }}
  </div>
  <!--sex-->
  <div id="patient-sex">
    <strong>sex</strong>: {{ patient.gender | genderify }}
  </div>
  <!--location-->
  <div id="patient-location">
    <strong>location</strong>: {{ patient.location }}
  </div>
  <!--optional-->
  <!-- phone -->
  <div *ngIf="patient.phone" id="patient-phone">
    <strong>phone</strong>: {{ patient.phone }}
  </div>
  <!-- email -->
  <div *ngIf="patient.email" id="patient-email">
    <strong>email</strong>: {{ patient.email }}
  </div>
</div> <!--/.patient-container -->
