<div id="history-container" class="panel panel-default">
  <div class="panel-heading">
    <strong>History</strong>
  </div>
  <div *ngIf="history" id="history" class="panel-body">
    <ul id="history-list">
      <li *ngIf="history.dm" id="dm">DM</li>
      <li *ngIf="history.htn" id="htn">HTN</li>
      <li *ngIf="history.ba" id="ba">BA</li>
      <li *ngIf="history.thyroid" id="thyroid">Thyroid</li>
      <li *ngIf="history.seizures" id="seizures">Seizures</li>
    </ul>
    <strong>Presenting Illness</strong>
    <p id="presenting-illness">{{ history.presentingIllness }}</p>
  </div>
</div>
