<div id="history-container" *ngIf="history">
  <!--body-->
  <br>
  <div id="history">
    <div id="history-list">
      <p *ngIf="history.dm" id="dm">DM</p>
      <p *ngIf="history.htn" id="htn">HTN</p>
      <p *ngIf="history.ba" id="ba">BA</p>
      <p *ngIf="history.thyroid" id="thyroid">Thyroid</p>
      <p *ngIf="history.seizures" id="seizures">Seizures</p>
    </div>
    <div id="presenting-illness">
      <strong>Presenting Illness</strong>
      <p id="presenting-illness">{{ history.presentingIllness }}</p>
    </div>
  </div>
</div> <!--/.history-container-->
