<br>
<div class="container">
  <div id="dashboard-container" class="row">
    <!--doctor-info-->
    <div class="col-md-3 col-sm-3">
        <app-doctor *ngIf="doctor" [doctor]="doctor"></app-doctor>
    </div>
    <!--appointments feed-->
    <div class="col-md-6 col-sm-6" *ngIf="appointments">
        <!--title and badge-->
      <div>
        <h5>
          <strong>Appointments</strong>&nbsp;
          <span class="badge badge-pill badge-default">{{ appointmentsCount }}</span>
        </h5>
      </div><br>
      <!--appointment links-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Patient</th>
            <th>Checked in @</th>
            <th></th>
          <tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments;let i=index;">
            <td>{{ i + 1 }}</td>
            <td>
              <a href="/patient/{{appointment.patient.hid}}">{{ appointment.patient.name }}</a>
            </td>
            <td>{{ appointment.dateTimeCreated | date:'shortTime' }}</td>
            <td>
              <a href="javascript:void()" (click)="removeAppointment(i)"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- /.col -->
    <!--notifications-->
    <!--code...-->
    <div class="col-md-3 col-sm-3"></div>
  </div>
</div>
