<div id="appointmets-container">
  <!--title and badge-->
  <h2>
    <strong>Appointments</strong>&nbsp;
    <!--badge if appointments list exist-->
    <div *ngIf="appointments" class="badge badge-pill badge-default">{{ appointmentsCount }}</div>
  </h2><br>
  <!--appointment links-->
  <div *ngIf="appointments">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Patient</th>
          <th>Checked in @</th>
          <th></th>
        <tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments;let i=index;">
          <td>{{ i + 1 }}</td>
          <td>
            <a [routerLink]="['/patient',appointment.patient.hid,{ outlets: { content : 'profile' } }]">{{ appointment.patient.name }}</a>
          </td>
          <td>{{ appointment.dateTimeCreated | date:'shortTime' }}</td>
          <td>
            <a href="javascript:void()" (click)="removeAppointment(i)"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
