<div *ngIf="healthLogs" id='health-logs-container'>
  <div *ngFor="let healthLog of healthLogs" id="{{healthLog.id}}">
    <!--date of log-->
    <div class="d-flex justify-content-end">
      <div class="p-2"><strong>{{ healthLog.dateCreated | date:'longDate' }}</strong></div>
    </div>
    <!--loop chief complaints array-->
    <div *ngIf="chiefComplaintsExists(healthLog)">
      <h5><strong>Chief Complaints</strong></h5><hr>
      <div id="chief-complaints">
        <table class="table table-hover">
          <tr>
            <th>#</th>
            <th>complaint</th>
            <th>duration(days)</th>
          </tr>
          <tr *ngFor="let chiefComplaint of healthLog.chiefComplaints;let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{ chiefComplaint.complaint }}</td>
            <td>{{ chiefComplaint.duration }}</td>
          </tr>
        </table>
      </div>
    </div>
    <!--examination-->
    <div *ngIf="healthLog.examination" class="d-flex justify-content-between">
      <div class="p-2" id="examination">
        <h5><strong>Examination</strong></h5>
      </div>
      <div class="p-2">{{ healthLog.examination }}</div>
    </div><hr>
    <!--vitals-->
    <div *ngIf="vitalsExists(healthLog)" id="vitals">
      <h5><strong>Vitals</strong></h5><hr>
      <div class="row">
        <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.pr">
          <strong>PR : </strong>{{ healthLog.vitals.pr }}
        </div>
        <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.bp">
          <strong>BP : </strong>{{ healthLog.vitals.bp }}
        </div>
        <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.rr">
          <strong>RR : </strong>{{ healthLog.vitals.rr }}
        </div>
        <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.temp">
          <strong>Temp : </strong>{{ healthLog.vitals.temp }}
        </div>
      </div>
    </div>
      <!--systemic examination-->
      <div *ngIf="systemicExaminationExists(healthLog)" id="systemic-examination">
        <div class="text-left">
            <strong>Systemic Examintion</strong>
        </div><br>
        <div *ngIf="systemicExaminationExists(healthLog)" id="systemic-examination" class="d-flex justify-content-start">
          <div class="p-2" *ngIf="healthLog.systemicExamination.cvs">
            <strong>CVS : </strong>{{ healthLog.systemicExamination.cvs }}
          </div>
          <div class="p-2" *ngIf="healthLog.systemicExamination.rs">
            <strong>RS : </strong>{{ healthLog.systemicExamination.rs }}
          </div>
          <div class="p-2" *ngIf="healthLog.systemicExamination.cns">
            <strong>CNS : </strong>{{ healthLog.systemicExamination.cns }}
          </div>
          <div class="p-2" *ngIf="healthLog.systemicExamination.pa">
            <strong>P/A : </strong>{{ healthLog.systemicExamination.pa }}
          </div>
        </div>
        <hr>
      </div>
      <!--L/E-->
      <div *ngIf="healthLog.le" id="le" class="row">
        <div class="col-sm-6 col-md-6">
          <strong>L/E </strong>
        </div>
        <div class="col-sm-6 com-md-6">
          <p>{{ healthLog.le }}</p>
        </div>
        <br>
      </div>
      <!--final diagnosis-->
      <div *ngIf="healthLog.finalDiagnosis" id="final-diagnosis" class="row">
        <div class="col-sm-6 col-md-6">
          <strong>Final Diagnosis </strong>
        </div>
        <div class="col-sm-6 col-sm-6">
          {{ healthLog.finalDiagnosis }}
        </div>
        <br><br>
      </div>
      <!--follow up date-->
      <div *ngIf="healthLog.nextFollowUp" id="next-follow-up" class="row">
        <div class="col-sm-6 col-md-6"><strong>Date given for next sitting</strong></div>
        <div class="col-md-6 col-md-6">{{ healthLog.nextFollowUp | date:'longDate' }}</div>
        <br><br>
      </div>
      <!--investigations-->
      <div *ngIf="healthLog.investigations" id="investigations" class="row">
        <div class="col-sm-6 col-md-6"><strong>Investigations</strong></div>
        <div class="col-sm-6 col-md-6">{{ healthLog.investigations }}</div>
      </div>
      <!--prescription-->
      <br>
      <div *ngIf="prescriptionExists(healthLog)" id="prescription">
        <strong>Prescription</strong><br><br>
        <table class="table table-hover">
          <tr>
            <th>#</th>
            <th>item</th>
            <th>breakfast</th>
            <th>lunch</th>
            <th>dinner</th>
            <th>before meal</th>
          </tr>
          <tr *ngFor="let prescriptionItem of healthLog.prescription;let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ prescriptionItem.item }}</td>
            <td><span class="glyphicon glyphicon-ok" *ngIf="prescriptionItem.breakfast"></span></td>
            <td><span class="glyphicon glyphicon-ok" *ngIf="prescriptionItem.lunch"></span></td>
            <td><span class="glyphicon glyphicon-ok" *ngIf="prescriptionItem.dinner"></span></td>
            <td><span class="glyphicon glyphicon-ok" *ngIf="prescriptionItem.beforeMeal"></span></td>
          </tr>
        </table>
      </div>
    </div>
</div>
