<h2><strong>Personal</strong></h2><br>
<div *ngIf="info">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">name</th>
        <td>{{ info.name }}</td>
      </tr>
      <tr>
        <th scope="row">age</th>
        <td>{{ info.dob | agify }}</td>
      </tr>
      <tr>
        <th scope="row">sex</th>
        <td>{{ info.gender | genderify }}</td>
      </tr>
      <tr>
        <th scope="row">location</th>
        <td>{{ info.location }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--presenting illness-->
<h2><strong>Presenting Illness</strong></h2><br>
<div *ngIf="presentingIllness">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Diagnosis</th>
        <th>Medications</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ presentingIllness.finalDiagnosis }}</td>
        <td>{{ presentingIllness.medications | json }}</td>
      </tr>
    </tbody>
  </table>
</div>
