<!--patient body-->
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-2">
      <h5><strong>Patient</strong></h5><hr>
      <ul class="list-group">
        <li class="list-group-item borderless">
          <a [routerLink]="[{ outlets: { 'patient' : ['info'] } }]">
            <i class="fa fa-user-circle-o"></i>&nbsp;
            info
          </a>
        </li>
        <li class="list-group-item borderless">
          <a [routerLink]="[{ outlets: { 'patient' : ['history'] } }]">
            <i class="fa fa-list-ol"></i>&nbsp;
            history
          </a>
        </li>
        <li class="list-group-item borderless">
          <a [routerLink]="[{ outlets: { 'patient' : ['health-log'] } }]">
            <i class="fa fa-file"></i>&nbsp;
            healthlog
          </a>
        </li>
      </ul><!--/.list-group-->
    </div><!--/.col-->
    <div class="col-sm-8 col-md-8">
      <router-outlet name="patient"></router-outlet>
    </div><!--/.col-->
  </div><!--/.row-->
</div><!--/.container-->
