<div class="container">
  <div class="row">
    <!-- patient info and history -->
    <div class="col-sm-3 col-md-3">
      <ul class="list-group">
        <!-- patient name, asl -->
        <li class="list-group-item">
          <app-patient [patient]="appointment.patient"></app-patient>
        </li>
        <!-- history toggle -->
        <button class="list-group-item" (click)="toggleHistory()">

          <div id="history">
            <div href="javascript:void();">
              <strong>history</strong>
              <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-right': !historyFlag, 'glyphicon-chevron-down': historyFlag}"></i>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <app-history *ngIf="historyFlag" [history]="patientHistory"></app-history>
              </div>
            </div>
          </div>

        </button>
        <!-- past healthlogs -->
        <li class="list-group-item">
          <a href="javascript:void();" (click)="toggleHealthLogs()">
            <strong>healthlogs</strong>
            <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-right': !healthLogsFlag,
             'glyphicon-chevron-down': healthLogsFlag}"></i>
          </a>

        </li>
        <div></div>
      </ul><!--/.list-group -->
    </div> <!--/.col-->

    <div class="col-sm-6 col-md-6">
      <app-health-log-form [aid]="appointment.aid"></app-health-log-form>

    </div>

  </div><!--/.row-->
</div>
