<div class="container">
  <div class="row">
    <!-- patient info and history -->
    <div class="col-sm-3 col-md-3">
      <ul class="list-group">
        <!-- patient name, asl -->
        <li class="list-group-item">
          <app-patient [patient]="appointment.patient"></app-patient>
        </li>
        <!-- history toggle -->
        <li class="list-group-item">

          <div id="history">
            <div class="row" (click)="toggleHistory()">
              <div class="col-sm-6 col-md-6">
                <strong>history</strong>
              </div>
              <div class="col-sm-6 col-md-6">
                <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-right': !historyFlag, 'glyphicon-chevron-down': historyFlag}"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <app-history *ngIf="historyFlag" [history]="patientHistory"></app-history>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div> <!--/.col-->
    <!-- healthlog feed -->
    <div class="col-sm-6 col-md-6">
      <!-- empty/ new health-log-form -->
      <app-health-log-form [aid]="appointment.aid"></app-health-log-form>
      <!-- healthlogs -->
      <app-health-log *ngIf="pastHealthLogs" [healthLogs]="pastHealthLogs"></app-health-log>
      <!-- load more button -->
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <a href="javascript:void();" (click)="loadPastHealthLogs()">load past healthlogs</a>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
