<div class="container" id="consultation-container">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <!--patient-->
      <div class="panel panel-default" data-spy="affix">
        <div class="panel-body">
          <app-patient [patient]="appointment.patient"></app-patient>
        </div>
        <!--nav menu-->
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#patient-history" (click)="loadPatientHistory()" id="load-patient-history"><strong>history</strong></a>
          </li>
          <li class="list-group-item">
            <a href="#patient-healthlogs" (click)="loadLastHealthLog()" id="load-last-healthlog"><strong>last healthlog</strong></a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void();"><strong>all healthlogs</strong></a>
          </li>
        </ul>
      </div>
    </div> <!--/.col-->
    <!--consultation component-->
    <div class="col-sm-6 col-md-6">
      <!--patient history-->
      <div>
        <span class="anchor" id="patient-history"></span> <!--fix for fixed nav bar issue-->
        <app-history *ngIf="patientHistory" [history]="patientHistory"></app-history>
      </div>
      <!-- get health logs if it is a follow up consultation-->
      <div>
        <!--app-health-log gets array of healthLogForm -->
        <span class="anchor" id="patient-healthlogs"></span>
        <app-health-log *ngIf="lastHealthLog" [healthLogs]="[lastHealthLog]"></app-health-log>
      </div>
      <!-- health log form for current sitting-->
      <div id="new-healthlog">
        <app-health-log-form></app-health-log-form>
      </div>
    </div>
  </div>
</div>
