<h1><strong>Investigations</strong></h1><br>
<!--<div>{{ investigationsForm.value | json }}</div>-->
<div id="investigations">
  <form [formGroup]="investigationsForm" (ngSubmit)="saveForm()">
    <textarea class="form-control" formControlName="data" rows=10 placeholder="Notes"></textarea><br>

    <button type="button" class="btn btn-default" (click)="investigationsForm.reset()">clear</button>
    <button type="submit" class="btn btn-default" [disabled]="investigationsForm.pristine">save</button>
  </form>
</div>
