<h1><strong>Track</strong></h1><br>
<ngb-tabset>
  <!--BP-->
  <ngb-tab>
    <template ngbTabTitle>BP</template>
    <template ngbTabContent>
      <app-bp></app-bp>
    </template>
  </ngb-tab>
  <!--CNS-->
  <ngb-tab>
    <template ngbTabTitle>CNS</template>
    <template ngbTabContent></template>
  </ngb-tab>
  <!--temp-->
  <ngb-tab>
    <template ngbTabTitle>temperature</template>
    <template ngbTabContent></template>
  </ngb-tab>
  <!--CVS-->
  <ngb-tab>
    <template ngbTabTitle>CVS</template>
    <template ngbTabContent></template>
  </ngb-tab>
  <!--RR-->
  <ngb-tab>
    <template ngbTabTitle>RR</template>
    <template ngbTabContent></template>
  </ngb-tab>
  <!--PR-->
  <ngb-tab>
    <template ngbTabTitle>PR</template>
    <template ngbTabContent></template>
  </ngb-tab>
  <!--CNS-->
  <ngb-tab>
    <template ngbTabTitle>CNS</template>
    <template ngbTabContent></template>
  </ngb-tab>
</ngb-tabset>
