<!-- navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>managment.name</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void();" (click)="goHome()">
            <i class="pull-left float-xs-left glyphicon glyphicon-home"></i>&nbsp;
            <strong>home</strong>
          </a>
        </li>
        <li>
          <a href="javascript:void();">
            <i class="pull-left float-xs-left glyphicon glyphicon-user"></i>&nbsp;
            <strong>patients</strong>
          </a>
        </li>
        <li>
          <a href="javascript:void();">
            <i class="pull-left float-xs-left glyphicon glyphicon-stats"></i>&nbsp;
            <strong>analytics</strong>
          </a>
        </li>
        <li>

          <!-- options-->

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--app body-->
<div class="container">
  <!--doctor-dashboard-->
  <!--set event consultation if appointment is clicked in dashboard component-->
  <app-dashboard *ngIf="!selectedAppointment" (consultation)="selectAppointment($event)"></app-dashboard>
  <!--consultation component-->
  <!--opens on click of an appointment -->
  <app-consultation *ngIf="selectedAppointment" [appointment]="selectedAppointment"></app-consultation>
</div>
