
<!--wrapper-->
<div id="wrapper" [ngClass]="{'toggled':sidebar}">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <br><br>
      <router-outlet name="subnav"></router-outlet>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <!--toggle sidebar button-->
      <!--<a href="javascript:void();" (click)="toggleSidebar()" id="menu-toggle">
        <i class="fa fa-bars"></i>
      </a>-->
      <!--content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                  <!--primary router-outlet-->
                  <div class="app-body">
                    <router-outlet name="content"></router-outlet>
                  </div>
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.container-fluid-->
    </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->
