<div *ngIf="healthLogs" id='health-logs-container'>
  <div *ngFor="let healthLog of healthLogs" class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6 col-md-6"><strong>HealthLog</strong></div>
        <div class="col-sm-6 col-md-6 text-right"><strong>{{ healthLog.dateCreated | date:'longDate' }}</strong></div>
      </div>
    </div>
    <div class="panel-body">
      <!--loop chief complaints array-->
      <div class="row" *ngIf="healthLog.chiefComplaints">
        <div class="col-sm-3 col-md-3">
          <strong>Chief Complaints</strong>
        </div>
        <div id="chief-complaints" class="col-sm-9 col-md-9">
          <div *ngFor="let complaint of healthLog.chiefComplaints">
            <p class="complaint">{{ complaint }} </p>
          </div>
        </div>
      </div><br>
      <!--examination-->
      <div *ngIf="healthLog.examination" class="row">
        <div class="col-sm-3 col-md-3" id="examination"><strong>Examination</strong></div>
        <div class="col-sm-9 col-md-9">{{ healthLog.examination }}</div>
      </div><hr>
      <!--vitals-->
      <div *ngIf="vitals(healthLog)" id="vitals">
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <strong>Vitals</strong>
          </div>
        </div><br>
        <div class="row">
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.pr">
            <strong>PR : </strong>{{ healthLog.vitals.pr }}
          </div>
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.bp">
            <strong>BP : </strong>{{ healthLog.vitals.bp }}
          </div>
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.rr">
            <strong>RR : </strong>{{ healthLog.vitals.rr }}
          </div>
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.vitals.temp">
            <strong>Temp : </strong>{{ healthLog.vitals.temp }}
          </div>
        </div>
        <hr>
      </div>
      <!--systemic examination-->
      <div *ngIf="systemicExamination(healthLog)" id="systemic-examination">
        <div class="text-left">
            <strong>Systemic Examintion</strong>
        </div><br>
        <div *ngIf="systemicExamination(healthLog)" id="systemic-examination" class="row">
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.systemicExamination.cvs">
            <strong>CVS : </strong>{{ healthLog.systemicExamination.cvs }}
          </div>
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.systemicExamination.rs">
            <strong>RS : </strong>{{ healthLog.systemicExamination.rs }}
          </div>
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.systemicExamination.cns">
            <strong>CNS : </strong>{{ healthLog.systemicExamination.cns }}
          </div>
          <div class="col-sm-3 col-md-3" *ngIf="healthLog.systemicExamination.pa">
            <strong>P/A : </strong>{{ healthLog.systemicExamination.pa }}
          </div>
        </div>
        <hr>
      </div>
      <!--L/E-->
      <div *ngIf="healthLog.le" id="le" class="row">
        <div class="col-sm-3 col-md-3">
          <strong>L/E </strong>
        </div>
        <div class="col-sm-9 com-md-9">
          <p>{{ healthLog.le }}</p>
        </div>
      </div>
      <!--final diagnosis-->
      <div *ngIf="healthLog.finalDiagnosis" id="final-diagnosis" class="row">
        <div class="col-sm-3 col-md-3">
          <strong>Final Diagnosis </strong>
        </div>
        <div class="col-sm-9 col-sm-9">
          {{ healthLog.finalDiagnosis }}
        </div>
      </div><br>
      <!--follow up date-->
      <div *ngIf="healthLog.nextFollowUp" id="next-follow-up" class="row">
        <div class="col-sm-3 col-md-3"><strong>Date given for next sitting</strong></div>
        <div class="col-md-9 col-md-9">{{ healthLog.nextFollowUp | date:'longDate' }}</div>
      </div>
      <!--prescription-->
      <div *ngIf="healthLog.prescription" id="prescription">
        <ul *ngFor="let item of prescription;let i=index;">
          <li>{{ i+1 }}: {{ item }}</li>
        </ul>
      </div>
    </div>

  </div>
</div>
