<div id="patients-container">
  <h1><strong>Pinned Patients</strong></h1><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="h5">#</th>
        <th class="h5">name</th>
        <th class="h5">admitted on</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients;let i=index" (click)="goToPatient(patient.hid)">
        <td>{{ i+1 }}</td>
        <td><a>{{ patient.name }}</a></td>
        <td>{{ patient.admittedOn | date:'shortDate' }}</td>
      </tr>
    </tbody>
  </table>
</div>
