<ul class="nav flex-column nav-pills">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[{ outlets: { 'content' : ['profile'] } }]" routerLinkActive="active">
      <i class="fa fa-heart"></i>
      &nbsp;profile
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[{ outlets: { 'content' : ['track'] } }]" routerLinkActive="active">
      <i class="fa fa-table"></i>
      &nbsp;track
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[{ outlets: { 'content' : ['new-log'] } }]" routerLinkActive="active">
      <i class="fa fa-plus"></i>
      &nbsp;health-log
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="updatePin()" href="javascript:void();">
      <i class="fa" [ngClass]="{'fa-eye': !patientPinned,'fa-eye-slash': patientPinned}"></i>
      {{ buttonName }}
    </a>
  </li>
</ul>
