/* You can add global styles to this file, and also import other style files */
/*prevent overlay of navbar(50px)*/
body {
  padding-top: 50px; /*prevent overlay of navbar*/
  /*background-color: #F6F6F6 !important; /*override bootstrap default white bgcolor*/
  color: #545454 !important; /*override default black text-color*/
  /*font-size: 15px !important;*/
}
/*offsetting an html anchor to adjust for fixed header*/
/*fix: offsets span[class="anchor"] to 70px(height of navbar)*/
span[class="anchor"] {
  position:absolute;
  top:-200px;
}
/*font-awesome icons import*/
@import '../node_modules/font-awesome/css/font-awesome.css';
/* borderless table*/
.borderless td, .borderless th {
    border: none;
}
.app-body {
  padding-top :8px;
}
