/* You can add global styles to this file, and also import other style files */
/*prevent overlay of navbar(50px)*/
/*body {
  padding-top: 70px; /*prevent overlay of navbar*/
  /*background-color: #F5F5F5 !important; /*override bootstrap default white bgcolor*/
  /*color: #5E5E5E !important; /*override default black text-color*/
/*}*/
/*offsetting an html anchor to adjust for fixed header*/
/*fix: offsets span[class="anchor"] to 70px(height of navbar)*/
/*span[class="anchor"] {
  position:absolute;
  top:-70px;
}*/
/*font-awesome icons import*/
@import '../node_modules/font-awesome/css/font-awesome.css';
/* borderless table*/
.borderless td, .borderless th {
    border: none;
}
/*app-body*/
.app-body {
  padding-top: 10px;
}
